build-integral-calculator-Desktop_Qt_6_1_0_clang_64bit-Debug/
.DS_Store
build-integral-calculator-Desktop_Qt_6_1_0_clang_64bit-Release/
build-integral-calculator-Desktop_Qt_6_1_0_clang_64bit-Profile/
